body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.table{
    text-align:center;
    border-collapse: collapse;
    border: 1px solid black;
    display: inline-block;
    margin: auto;
    margin-top: 50px;
    width:auto;
}

.table tr td, .table thead th{
    border: 1px solid black;
    border-collapse: collapse;
}

.table tr{
    width: 100%;
}

#info{
    display: inline-block;
    width:100%;
    margin:auto;
}

#body{
    display:inline-block;
    text-align:center;
}





